body{
    font-family: 'Island Moments', cursive;
font-family: 'Poppins', sans-serif;
background-color: #FFFFFF;



}
.container{
    background-color: #FFFFFF;
    width: 1440px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-left: 145px;
    display: flex;
    margin-left: 0px;
    margin-bottom: 300px;
    

}
.header{
    margin-left: 195px;
    margin-top: 100px;
}
.influencer{
    width: 50%;
    padding-left: 2%;
    padding-top: 70px;
}
.influencer img{
    width: 70%;
    margin-left: 80px;
}  



    
    





.journey{
    font-size: 50px;
    color:black;
}
.infu{
    color:orange ;
    font-size: 50px;
}
.button{
    display: flex;
    height: 44px;
    padding: 0;
    background-color: #E02C6D;
    outline: none;
    border-radius: 41px;
    overflow: hidden;
    font-family: 'Quicksand',sans-serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 250px;
    animation-name: example;

}
.button:hover{
    transition: height 5s  ease-in-out 2s,width 5s,transform 5s;
    transform: scale(1.5);
}
.button-text,.button-icon{
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
}
