body{
    font-family: 'Island Moments', cursive;
font-family: 'Poppins', sans-serif;
background-color:#FFFFFF;
margin: 0px;
}
main{
    width: 1400px;

}
   
.influencer{
    background-color: #FFFFFF;
    
 
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-left: 145px;
    display: flex;
    grid-template-columns: repeat(2,1fr);
    margin-left: 0px;
    margin-bottom: 300px;
}


.header{
    margin-left: 155px;
    margin-top: 100px;
}
.influencer1{
    width: 50%;
    padding-left: 2%;
    padding-top: 70px;
}
.influencer1 img{
    width: 80%;
    margin-left: 80px;
}  
.journey{
    font-size: 50px;
    color:black;
}
.infu{
    color:orange ;
    font-size: 50px;
}
.pra{
    font-size: 25px;
}
.button{
    display: flex;
    height: 44px;
    padding: 0;
    background-color: #E02C6D;
    outline: none;
    border-radius: 41px;
    overflow: hidden;
    font-family: 'Quicksand',sans-serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    width: 250px;
    animation-name: example;

}
.button:hover{
    transition: height 5s  ease-in-out 2s,width 5s,transform 5s;
    transform: scale(1.5);
}
.button-text,.button-icon{
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    height: 100%;
}
.popular{
    margin-top: -300px;
    margin-bottom: 400px;
 margin-left: 70px;
}
.collection-info{
    display: flex;
    
  
    align-items: center;
}
.collections  .collection-image img{
    width: 300px;
    height: 200px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 30px;




}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;

}
.collection-title{
    text-align: center;
 
    margin-top: 30px;
}
.foot{
    background-color: black;
    color: white;
  
    text-align: center;
    font-style:oblique;
 
    width: 100%;
    margin-bottom: -600px;
   
}
.mission{
    padding-top: 50px;
  
}
.icon a{
  

    color: whitesmoke;
    font-size: 30px;
 

}

.see{
    justify-content: end;
   
    align-items: flex-end;
    padding-left: 1100px;
    color:#E02C6D ;
    

}
@media only screen and (max-width:688px){

    .popular{
        width:50%;
    }
   .collections{
    
    
    grid-template-columns: repeat(1,1fr);
    }
    .collections,.collection{
    flex-direction: column;
    margin-left: -10px;
    
    }
    
    }
    @media only screen and (max-width:688px){

        .main{
            width:50%;
        }
       .more{
        
        
        grid-template-columns: repeat(1,1fr);
        }
        .see{
        flex-direction: column;
       margin-left: -950px;
        
        }
        
        }
      
        @media only screen and (min-width:688px) and (max-width:992px){

            .popular{
                width:50%;
            }
           .collections,.collection{
            
            
            grid-template-columns: repeat(1,1fr);
            flex-direction: column;
            }

            
            }
            @media only screen and (min-width:688px) and (max-width:992px){

                .main{
                    width:50%;
                }
               .more{
                
                
                grid-template-columns: repeat(1,1fr);
                flex-direction: column;
                margin-left: -950px;
                }
    
                
                }
                @media only screen and (min-width:688px) and (max-width:992px){

                    .foot{
                        width:50%;
                    }
                   .foot1,.icon{
                    
                    
                    grid-template-columns: repeat(1,1fr);
                    flex-direction: column;
                    margin-left: -380px;
                    }
        
                    
                    }
                    @media only screen and (min-width:688px) and (max-width:992px){
                        .main{
                            width: 50%;

                        }
                        .influencer,.influencer1{
                        
                        
                            grid-template-columns: repeat(1,1fr);
                            flex-direction: column;
                            margin-left: -110px;
                            width: 350px;
                            }

                    }
                    @media only screen and (min-width:688px) and (max-width:992px){
                        .main{
                            width: 50%;

                        }
                        .header{
                        
                        
                            grid-template-columns: repeat(1,1fr);
                            flex-direction: column;
                            margin-left: 85px;
                            
                            }

                    }

                    @media only screen and (max-width:688px){

                        .main{
                            width:50%;
                        }
                       .influencer,.influence,.header{
                        
                        
                        grid-template-columns: repeat(1,1fr);
                        }
                        .header{
                        flex-direction: column;
                       margin-left: 70px;
                       display: grid;
                       grid-template-columns: repeat(1,1fr);
                        
                        }
                        
                        }

                        @media only screen and (max-width:688px){

                            .influencer{
                                width:50%;
                            }
                           .influencer,.influencer1{
                            
                            
                            grid-template-columns: repeat(1,1fr);
                            }
                            .influencer,.influencer1{
                            flex-direction: column;
                          
                           grid-template-columns: repeat(1,1fr);
                           margin-left: -120px;
                           width: 350px;
                            
                            }
                            
                            }
   
                            @media only screen and (max-width:688px){

                                .main{
                                    width:50%;
                                }
                               .collection-title{
                                
                                
                                grid-template-columns: repeat(1,1fr);
                                flex-direction: column;
                                            margin-left: -1150px;
                                }
                               
                                          
                                
                                
                                
                            